* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%; /* largura */
    display: flex; /* permite alterar a posição dos elementos da tela */
    justify-content: space-between; /* permite justificar/alinhar os componentes */
    align-items: center; /* permite alinhar os componentes na vertical */
}

.caixa-texto {
    width: 500px;
}

.caixa-imagem {
    width: 500px;
    display: flex;
    justify-content: flex-end; /* jogar p o final */
    margin-top: 150px;
}

.menu {
    display: flex;
    justify-content: center;
}

h2 {
    color: #333;
    font-size: 50px;
    font-weight: 600;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;

}

button {
    background: #017143;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.logo {
    width: 70px;
}

.starbucks {
    width: 200px;
}

.botao-menu {
    width: 50px;
    cursor: pointer;
    transition: 1s; /* quanto tempo vai demorar p ele ir do ponto que está até o alto */
}

.botao-menu:hover {
    transform: translateY(-25px); /* rotacionar, mover o item no eixo Y, ou seja, jogar ou p cima ou p baixo */
}

.circulo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #017143;
    top: 0;
    left: 0;
    clip-path: circle(500px at right 600px);
    z-index:-1; /* controla quem fica na frente de quem */
}